body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black; /* Light Gray Background */
  }

  #calculator {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* White Background */
  }

  h2 {
    color: #333; /* Dark Gray Text */
  }

  label {
    display: block;
    margin-bottom: 10px;
    color: #555; /* Gray Text */
  }

  #dob {
    padding: 8px;
    border: 1px solid #ddd; /* Light Gray Border */
  }

  button {
    background-color: #4CAF50; /* Green Button Color */
    color: #fff; /* White Text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049; /* Darker Green on Hover */
  }

  #result {
    margin-top: 20px;
    font-size: 18px;
    color: #333; /* Dark Gray Text */
  }